[Unit]
Description=River

[Service]
WorkingDirectory=/var/lib/river/%I
Environment=NODE_PATH=/usr/share/river/node_modules
ExecStart=/usr/bin/node /usr/share/river/river5.js
User=river
Group=river
Restart=always

[Install]
WantedBy=multi-user.target
